navbar{
    border: 1px solid black;
    display: flex;
    height: 100vh; 
    background-color: rgb(0, 0, 0);
}
navbar h1{
    text-align: center;
    color: whitesmoke;
    padding-top: 30vh;
    padding-left: 27vw;
    font-size: 100px;
}
navlink{
    
}
.icon{
    border: 1px solid black;
    display: flex;
    width: 9wh;
    height: 9vh;
}
.sprite {
	background: url('imgs/sprite3.png') no-repeat -587px -72px;
	width: 66px;
	height: 66px;
}
p1{
    height: 100vh;
    background-color: white;
}
footer{
    margin-top: 100vh;
    height: 10vh;
    background-color: blue;
}
